
.login {
    width: calc(100dvw - 60px);
    height: calc(100dvh - 60px);
    margin: 30px;
    background-color: var(--background-color);
    display: flex;
    text-align: center;
    font-size: 2em;

    &-container {
        width: calc(100% - 20px); 
        height: calc(100% - 20px);
        margin: 10px;
        border: var(--border);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-ip-form {
        all: unset;
        background-color: var(--text-color);
        width: 100%;
        margin: 20px 0;
    }

    &-connect-button {
        cursor: pointer;

        &:hover {
            color: var(--text-color);
        }
    }
}